*{
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
    font-weight: 600;
}

body{
    background-color:aqua;
}

h1{
    text-align:center;
    padding-top: 30px;
    text-decoration: underline;
    font-size: 2rem;
}

form{
    margin: 50px;
    margin-bottom: 20px;
    margin-left: 50px;
}

form label{
    padding-right: 70px;
    font-size: 2rem;
}

form .palintext{
    display: flex;
    align-items:center;
}

form .palintext label{
    padding-left: 30px;
}

form .ciphertext{
    display: flex;
    margin-top: 40px;
    align-items:center;
}

form textarea{
    width: 480px;
    padding: 10px;

}


form .alogrihtms .btn{
    margin-top:50px;
    
    margin-left: 250px;
    width: 300px;
    height: 80px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 50px;
}

form .alogrihtms .btn:hover{
    cursor: pointer;
    background-color: cadetblue;
    font-size: 1.7rem;
    transition: 0.7s ease;
}

.links{
    display: flex;
    align-items:center;
    justify-content: center;
    
}
.links a{
    margin-right: 50px;
    text-decoration: none;
    padding: 20px;
}

.links a:hover{
    cursor: pointer;
    background-color: cadetblue;
    font-size: 1.7rem;
    transition: 0.7s ease;
}

.home{
    text-align:right;
    margin-right: 30px;
}
.home-link{
    text-decoration: none;
    margin: 10px;
    text-align: center;
}

form .ciphertext p{
    background-color: beige;
    color: blue;
    padding: 10px;
    width: 480px;
    height: 150px;
}

form .palintext p{
    background-color: beige;
    color: blue;
    padding: 10px;
    width: 480px;
    height: 150px;
}

.encryption-img img{
    width: 650px;
    height: 400px;
    border-radius: 30%;
    margin-top: 100px;
}

.flex-container{
    display: flex;
    flex-direction: row;
}

.error{
    display: flex;
    justify-content: center;
    margin-top: 250px;
}

.error p{
    font-size: 2rem;
    font-weight: 700;
    color: black;
}

.home .home-link:hover{
    cursor: pointer;
    color: black;
    text-decoration: underline;
}

/* Software Engineer Joseph 20202273 */