{% extends 'cipher/layout.html' %}

{% block title %} Encryption {% endblock %}


{% block body %}

<h1>Hill Cipher Encryption</h1>
<div class="home">
    <a href="{% url 'cipher:hill_decryption' %}" class="home-link">Hill Cipher Decryption</a>
</div>

<div class="home" style="margin-top: 15px;">
    <a href="{% url 'cipher:index' %}" class="home-link">Back to home page</a>
</div>

    <div class="flex-container">
        <div>
            <form action="{% url 'cipher:hill_encryption' %}" method="POST">
                
                {% csrf_token %}
                <div class="palintext">
                    <label>Plaintext</label>
                    <textarea rows=4 cols=30 name="text">{{ text }}</textarea>
                </div>
                <br>
                <div class="ciphertext" style="margin-top:20px;">
                    <label>Ciphertext </label>
                    <p class="e-text">{{ e_text }}</p>
                </div>
                <br>
                <div class="alogrihtms">
                    <input type="submit" class="btn" value="Encrypt">
                </div>        
            </form>
        </div>

        <div class="encryption-img">
            {% load static %}
            <img src="{% static 'cipher/img/encryption.jpg' %}" alt="encryption">
        </div>

    </div>
    

{% endblock %}